<!DOCTYPE html>
<!-- Template by html.am -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Fixed Width 1 Orange</title>
		<style type="text/css">
			html, #page { padding:0; margin:0;}
			body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
			h1, h2, h3, h4, h5, h6 {color:darkorange;}
			#page { background:#fff;}
			#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
			/* Logo */
			#logo { padding:0; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkorange; text-decoration:none;}
			#logo h1 span { color:#f9ebdb;}

			/* Header */
			#header { background:#fff; }
			#header-inner { margin:0 auto; padding:0; width:970px;}
			
			/* Feature */
			.feature { background:orange;padding:18px;}
			.feature-inner { margin:auto;width:970px; }
			.feature-inner h1 {color:#f9ebdb;font-size:32px;}
			
			/* Menu */
			#top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
			#top-nav ul { list-style:none; padding:0; height:37px; float:left;}
			#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
			#top-nav ul li a { display:block; margin:0; padding:8px 20px; color:orange; text-decoration:none;}
			#top-nav ul li.active a, #top-nav ul li a:hover { color:#f9ebdb;}
			
			/* Content */
			#content-inner { margin:0 auto; padding:10px 0; width:970px;background:#fff;}
			#content #contentbar { margin:0; padding:0; float:right; width:760px;}
			#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
			#content #sidebar { padding:0; float:left; width:200px;}
			#content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
			#content #sidebar .widget h3 a { text-decoration:none;}
			#content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
			#content #sidebar .widget ul li { margin:0;}
			#content #sidebar .widget ul li { padding:4px 0; width:185px;}
			#content #sidebar .widget ul li a { color:orange; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
			#content #sidebar .widget ul li a:hover { color:#f9ebdb; font-weight:bold; text-decoration:none;}
			
			/* Footerblurb */
			#footerblurb { background:#f9ebdb;color:orange;}
			#footerblurb-inner { margin:0 auto; width:922px; padding:24px;}
			#footerblurb .column { margin:0; text-align:justify; float:left;width:250px;padding:0 24px;}
			
			/* Footer */
			#footer { background:#fff;}
			#footer-inner { margin:auto; text-align:center; padding:12px; width:922px;}
			#footer a {color:orange;text-decoration:none;}
			
			/* Clear both sides to assist with div alignment  */
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
		</style>
		<script type="text/javascript">
			/* =============================
			This script generates sample text for the body content. 
			You can remove this script and any reference to it. 
			 ============================= */
			var bodyText=["The smaller your reality, the more convinced you are that you know everything.", "If the facts don't fit the theory, change the facts.", "The past has no power over the present moment.", "This, too, will pass.", "</p><p>You will not be punished for your anger, you will be punished by your anger.", "Peace comes from within. Do not seek it without.", "<h2>Heading</h2><p>The most important moment of your life is now. The most important person in your life is the one you are with now, and the most important activity in your life is the one you are involved with now."]
			function generateText(sentenceCount){
				for (var i=0; i<sentenceCount; i++)
				document.write(bodyText[Math.floor(Math.random()*7)]+" ")
			}
		</script>
	</head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">	
					<div id="logo">
						<h1><a href="#">My<span>Limk</span></a></h1>
					</div>
					<div id="top-nav">
						<ul>
						<li><a href="#">MyLimk Nedir</a></li>
						<li><a href="#">İletişim</a></li>
						<li><a href="#">Üye Ol</a></li>
						<li><a href="#">Oturum Aç</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</header>
			<div class="feature">
				<div class="feature-inner">
				<h1>www.mylimk.com</h1>
				</div>
			</div>
		
	
			<div id="content">
				<div id="content-inner">
				
					<main id="contentbar">
						<div class="article">
							<p>My Limk Nedir?</p>
							<p>MyLimk uygulaması nedir ve sağladığı belli başlı avantajlar nelerdir?
MyLimk; Şahıs veya firmaların sosyal medya adreslerini kendilerine özel bir web sayfası (kullanıcıadı.mylimk.com şeklinde) üzerinden 3. kişilerle paylaşmasına olanak sağlar. Hazırda kayıtlı olan ödeme bilgilerinizi Email veya SMS ile gönderebilirsiniz.Fatura Bilgilerinize veya Hesaplarınıza internet üzerinden veya cep telefonunuz aracılığı ile ulaşabilirsiniz.
Bu uygulamadan kimler faydalanabilir?
Kurumsal firmalar, öğrenciler, kobiler, serbest çalışanlar, dernek ve vakıflar,herhangi bir sosyal medya kullanan herkes yararlanabilir.
Sisteme neler kayıt edilebilir?
Facebook, Twitter, Instagram, Whatsapp ve daha birçok sosyal medya...
Siteye Cep telefonundan girilebiliyor mu, mobil desteklimi?
Evet mynlimk.com mobil cihazlar ve tabletlerden tasarım pratikliği bozulmayacak şekilde görüntülenmek üzere tasarlanmıştır.
Bilgilerimin 3.şahıslar tarafından görülmesini engelleyebilir miyim?
Dilerseniz size özel sayfanızın açılışını panelinizdeki Bilgilerimi Güncelle sayfasından şifreleyerek bilgilerinizin 3.şahıslar tarafından görülmesini engelleyebilirsiniz.
Doğrulama e-postası elime ulaşmadı
"Giriş Yap" adımından kullanıcı adı ve şifrenizi girerek giriş yaptıktan sonra karşınıza çıkacak ekranda yer alan "Tekrar doğrulama e-postası göndermek için tıklayınız." seçeneğine tıklayarak kendinize yeniden doğrulama e-postası gönderebilirsiniz.
MyLimk’ya kendi sitemde yer vermek istiyorum. Bu mümkün müdür?
Evet mümkün. Yönetim panelinizde bulunan Arka Plan / Sitene ekle menüsünde bulunan kodu sitenize ekleyerek güncel hesaplarınızı sitenizde de şık bir şekilde görüntülenmesini sağlayabilirsiniz.</p>
						</div>
					</main>
					
					<nav id="sidebar">
						<div class="widget">
							<h3>Yakında hizmetinizde</h3>
							<iframe src="https://mdn-samples.mozilla.org/snippets/html/iframe-simple-contents.html" width="400" height="300">
                <p>Your browser does not support iframes.</p>
              </iframe>
						</div>
					</nav>
					
					<div class="clr"></div>
				</div>
			</div>
		
			<div id="footerblurb">
				<div id="footerblurb-inner">
				
					<div class="column">
						<h2><span></span></h2>
						<p><div class="w3-content w3-section" style="max-width:500px" style="max-height:500px" >

<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13619933_1335701616457705_745189908738355328_n.png?oh=c9f189be152b0f9ebf68aac311280067&oe=582A60CC" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/s480x480/13707730_1343999118961288_7262530825080181362_n.jpg?oh=2a9b9bec9092acc1a766489caf6f0a67&oe=581E3F7B" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13669719_1340174006010466_8551910996441974756_n.jpg?oh=ea8f2da37dfa62d2e4529e3370076be7&oe=58176C63" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/13592803_1336856179675582_1334975808708602641_n.png?oh=2f710379837af379be99fe14acd7bccc&oe=581B8E9E&__gda__=1478015999_947c3cfb5419559547ca5ccefa385bde" style="width:100%">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script></p>
					</div>	
					<div class="column">
						<div class="w3-content w3-section" style="max-width:500px" style="max-height:500px" >

<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13619933_1335701616457705_745189908738355328_n.png?oh=c9f189be152b0f9ebf68aac311280067&oe=582A60CC" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/s480x480/13707730_1343999118961288_7262530825080181362_n.jpg?oh=2a9b9bec9092acc1a766489caf6f0a67&oe=581E3F7B" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13669719_1340174006010466_8551910996441974756_n.jpg?oh=ea8f2da37dfa62d2e4529e3370076be7&oe=58176C63" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/13592803_1336856179675582_1334975808708602641_n.png?oh=2f710379837af379be99fe14acd7bccc&oe=581B8E9E&__gda__=1478015999_947c3cfb5419559547ca5ccefa385bde" style="width:100%">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script></p>
					</div>
					</div>
					<div class="column">
						<div class="w3-content w3-section" style="max-width:500px" style="max-height:500px" >

<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13619933_1335701616457705_745189908738355328_n.png?oh=c9f189be152b0f9ebf68aac311280067&oe=582A60CC" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/s480x480/13707730_1343999118961288_7262530825080181362_n.jpg?oh=2a9b9bec9092acc1a766489caf6f0a67&oe=581E3F7B" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13669719_1340174006010466_8551910996441974756_n.jpg?oh=ea8f2da37dfa62d2e4529e3370076be7&oe=58176C63" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/13592803_1336856179675582_1334975808708602641_n.png?oh=2f710379837af379be99fe14acd7bccc&oe=581B8E9E&__gda__=1478015999_947c3cfb5419559547ca5ccefa385bde" style="width:100%">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script></p>
					</div>
					</div>	
					
					<div class="clr"></div>
				</div>
			</div>
			

			
			<footer id="footer">
				<div id="footer-inner">
					<p>&copy; Copyright <a href="#">2016</a> &#124; <a href="#">Terms of Use</a> &#124; <a href="#">Privacy Policy</a></p>
					<div class="clr"></div>
				</div>
			</footer>
		</div>
	</body>
</html>
