<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
<table border="5">
  <tr><td>1</td><td>2</td><td>3</td></tr>
  <tr><td colspan="3">
<div class="w3-content w3-section" style="max-width:500px">
<p>MyLimk</p>
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13619933_1335701616457705_745189908738355328_n.png?oh=c9f189be152b0f9ebf68aac311280067&oe=582A60CC" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-0/s480x480/13707730_1343999118961288_7262530825080181362_n.jpg?oh=2a9b9bec9092acc1a766489caf6f0a67&oe=581E3F7B" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.0-9/13669719_1340174006010466_8551910996441974756_n.jpg?oh=ea8f2da37dfa62d2e4529e3370076be7&oe=58176C63" style="width:100%">
<img class="mySlides w3-animate-fading" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/13592803_1336856179675582_1334975808708602641_n.png?oh=2f710379837af379be99fe14acd7bccc&oe=581B8E9E&__gda__=1478015999_947c3cfb5419559547ca5ccefa385bde" style="width:100%">

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 9000);    
}
</script>
</td></tr>
<tr><td colspan="3">All rigts reserved @2016 by KRTLS</td></tr>
</table>
</body>
</html> 

